<template>
  <div class="hello">
    <!-- Start tabel -->
    <h3>Git search for 'node.js'</h3>
    <div class="table">
      <table>
        <tr>
          <th width="5%">Image</th>
          <th width="20%">Package name</th>
          <th width="20%">Package description</th>
          <th width="10%">Tags</th>
          <th width="10%">Update date</th>
          <th width="10%">Forks</th>
          <th width="10%">Star</th>
        </tr>
        <tr v-for="(item, index) in lists" :key="index">
          <td>
            <img
              :src="item.owner.avatar_url"
              :alt="item.name"
              :style="{ width: '32px' }"
            />
          </td>
          <td>
            <a :href="item.html_url" target="_blank">{{ item.name }}</a>
          </td>
          <td>{{ item.description }}</td>
          <td>{{ tagText(item.topics) }}</td>
          <td>{{ formatDate(item.pushed_at) }}</td>
          <td>{{ formatNumber(item.forks_count) }}</td>
          <td>{{ formatNumber(item.stargazers_count) }}</td>
        </tr>
        <tr v-if="isLoading" class="message">
          <td colspan="7" :style="{ textAlign: 'center' }">Loading...</td>
        </tr>
        <tr v-if="!isLoading && !lists.length" class="message">
          <td colspan="7" :style="{ textAlign: 'center' }">
            Data not found.
            <a href="http://localhost:8081/" class="reload">Reload</a>
          </td>
        </tr>
      </table>
    </div>
    <div v-if="pageRange.length && lists.length">
      <div class="total-page">Total Pages : {{ formatNumber(totalPage) }}</div>
      <ul class="pagination">
        <li
          v-for="page in pageRange"
          :key="page"
          role="button"
          @click="onPage(page, $event)"
          :class="{ active: page === pageNumber }"
        >
          {{ page }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import dayjs from 'dayjs'

export default {
  name: 'HelloWorld',
  data() {
    return {
      lists: [],
      pageNumber: 1,
      totalPage: 0,
      isLoading: true,
    }
  },
  created() {
    this.fetchData()
  },
  computed: {
    pageRange() {
      return this.getPagingRange(this.pageNumber, { total: this.totalPage })
    },
  },
  watch: {
    pageNumber() {
      this.lists = []
      this.fetchData()
    },
  },
  methods: {
    onPage: function (page) {
      this.pageNumber = page
      return true
    },
    formatNumber(value) {
      if (!value) return 0
      value = parseFloat(value).toLocaleString()
      return value
    },
    formatDate(value) {
      if (!value) return 0
      value = dayjs(value).format('DD/MM/YYYY')
      return value
    },
    tagText(value) {
      if (!value || !value.length) return '-'
      value = Array(value).join(', ')
      return value
    },
    getPagingRange(current, { min = 1, total = 20, length = 6 } = {}) {
      if (length > total) length = total
      let start = current - Math.floor(length / 2)
      start = Math.max(start, min)
      start = Math.min(start, min + total - length)
      return Array.from({ length: length }, (el, i) => start + i)
    },
    fetchData: async function () {
      this.isLoading = true
      axios
        .get(`http://localhost:3000/github-search?page=` + this.pageNumber)
        .then((res) => {
          console.log(res)
          this.lists = res?.data?.items || []
          this.totalPage = Math.ceil(res?.data?.total_count / 10)
          this.isLoading = false
        })
        .catch((e) => {
          this.isLoading = false
          this.totalPage = 1
          console.log(e.message)
        })
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
h3 {
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table {
  min-height: 400px;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr.message {
  background-color: #f2f2f2;
}

th {
  background-color: #04aa6d;
  color: white;
}

.reload {
  padding-left: 10px;
}

.pagination {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  li {
    width: 42px;
    height: 42px;
    cursor: pointer;
    border-radius: 100%;
    background-color: #04aa6d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    &.active {
      background-color: #046daa;
    }
  }
}

.total-page {
  margin-top: 30px;
}
</style>
